__pycache__/

matching_engine_venv/

.pytest_cache/

temp/

__init__.py

results/

#ignoring data folder which is outside src folder and contains .csv data files
data/

# Not to ignore data folder inside src/
!/src/data/